nav #icon {
  width: 9.5vw;
  margin-right: 0.5vw;
}

nav .navbar-nav {
  margin-right: 24%;
}

nav .nav-item {
  font-size: 1.7vw;
  padding: 0.9vw 1.5vw;
  border-radius: 0.6vw;
}

.header {
  margin: 5vw 0 27vw 0;
}

.buttonInside button {
  top: 1vw;
}

.text p {
  height: 14vw;
}

#slide-2 .carousel-indicators li {
  top: 2.2vw;
}

.carousel-indicators li {
  height: 1.5vw;
  width: 1.5vw;
}

#slide-1 .carousel-indicators li {
  top: 4vw;
}

header h1,
.page h1 {
  font-size: 2.4vw;
}

header p,
.page p {
  font-size: 1.5vw;
  line-height: 2vw;
}

.page {
  margin: 7vw 0 0 15vw;
  font-size: 1.5vw;
}

.price::before {
  background-size: 1.2vw;
  width: 1.2vw;
  height: 1.2vw;
}

.large::before,
.absorb::before,
.winged::before {
  background-size: 0.9vw;
  bottom: -0.2vw;
  left: 0.2vw;
}

main h1 {
  font-size: 2.1vw;
}

.product .col-sm-4 {
  padding: 0 1.5vw;
}

#topic1,
#topic2,
#topic3 {
  font-size: 1.7vw;
}

#topic1::before,
#topic2::before,
#topic3::before {
  width: 2.3vw;
  height: 2.3vw;
  bottom: -1vw;
  left: 0.6vw;
}

.card-img-top {
  bottom: 21vw;
}

.card-title {
  font-size: 1.7vw;
}

.card-text {
  font-size: 1.1vw;
}

#footer-block a {
  font-size: 1.4vw;
}

#footer-search {
  font-size: 1.2vw;
}

#copyright p {
  font-size: 1.2vw;
}

.product-button {
  font-size: 1.4vw;
}

/* about */
.contain p {
  font-size: 1.3vw;
}

.contain .h1 {
  font-size: 3vw;
}

.contain img {
  margin-top: 0;
  position: absolute;
}

/* contact */
#contact {
  margin: 6vw 6vw 15vw;
  border-radius: 2vw;
}

#contact .d-flex {
  flex-direction: column !important;
}

#contact p {
  margin: 0 !important;
}

.half {
  width: 100%;
}

#map {
  height: 100vw;
  border-radius: 0 0 2vw 2vw;
}

#email::before,
#tel::after {
  font-size: 5vw;
  bottom: -0.5vw;
}

#form input[type="submit"] {
  padding: 2.5vw 0;
  width: 100% !important;
  margin: 3vw 0 12vw 0;
}

#form input,
#form textarea {
  padding: 2vw 4vw;
  margin: 3vw 0;
  border-width: 0.3vw;
  border-radius: 1vw;
}

/* academy */
#headbar h1 {
  font-size: 1.7vw;
}

.content h1 {
  font-size: 2.2vw;
}

.content {
  font-size: 1.7vw;
}

.summary p {
  font-size: 1.7vw;
  line-height: 2.6vw;
}

#headbar::after {
  bottom: -1vw;
}

/* academy article */
#aca-ticle h1 {
  font-size: 3vw;
}

#aca-ticle {
  font-size: 1.5vw;
}

#aca-ticle img {
  width: 100vw;
}

#aca-ticle .pra {
  padding: 4vw 14vw;
  font-size: 2vw;
  line-height: 3.5vw;
}

/* login */
#tabs {
  height: 140vh;
  font-size: 2.5vw;
}

#incard {
  width: 50vw;
  border-radius: 1.5vw;
  margin-top: 10vh;
}

#log {
  border-top-right-radius: 1.5vw;
}

#sign {
  border-top-left-radius: 1.5vw;
}

#tabs .flex-fill {
  padding: 2vw 0;
}

#login,
#login form,
#login .d-flex,
#signup,
#signup form,
#signup .d-flex {
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
}

#login {
  padding: 10vw 3vw;
}

#signup {
  padding: 10vw 3vw 6vw 3vw;
}

#login input,
#signup input {
  margin-bottom: 3vw;
  padding: 2vw 4vw;
  border-width: 0.3vw;
  border-radius: 8vw;
}

/* product */
.fo {
  font-size: 1.7vw;
  padding: 0;
}

.fo h1 {
  font-size: 2.9vw;
}

.product-main .price {
  font-size: 2.2vw;
}

.product-main .price::after {
  font-size: 1.4vw;
}

.product-form input[type="submit"] {
  padding: 0.8vw 0;
  width: 27% !important;
}

.product-form input[type="submit"],
.product-form input,
.product-form textarea {
  font-size: 1.5vw;
}

/* fucking shop */
#shop {
  font-size: 1.6vw;
}

#shop .yoyo::before,
#shop .yoyo::after,
#shop .table-price::after {
  font-size: 1vw;
}

#shop button {
  font-size: 2vw;
}