/* NOVA is here, bitch */
@font-face {
  font-family: Yekan;
  src: url(../font/Bold.ttf);
}

html {
  font-size: 3vw;
  /* font-size: 12px; */
  direction: rtl;
  text-align: right;
}

body {
  font-family: Yekan;
}

@media screen and (min-width: 600px) {
  html {
    font-size: calc(0.6666666667vw + 10px);
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 1vw;
    /* font-size: 16px; */
  }

  #admin {
    background-image: url(../img/Vecteezy-2.0.png) !important;
    background-size: 100% !important;
  }
}

/* admin */
.shadow {
  -webkit-appearance: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  -moz-box-shdow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#admin {
  background-image: url(../img/Vecteezy-3.0.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
}

#admin .d-flex {
  height: 100%;
  width: 100%;
}

#admin .circle {
  background-color: #fff;
  height: 30rem;
  width: 30rem;
  border-radius: 50%;
}

#admin .inside {
  position: relative;
  bottom: -2rem;
}

#admin .circle img {
  height: 13rem;
  width: auto;
  margin-bottom: 1rem;
}

#admin .circle input {
  color: #4d4d4d;
  width: 18rem;
  padding: 0.5rem;
  border: transparent 0.1rem solid;
  border-radius: 0.4rem;
  outline: none;
  margin-bottom: 1rem;
}

#admin .circle input:focus {
  border-color: #007bff;
}

#admin .circle input[type="submit"] {
  font-size: 1.3rem;
  width: 8rem;
  background-color: #5dc1f3;
  color: #fff;
  cursor: pointer;
}

#admin .circle input[type="submit"]:hover {
  background-color: #88d2f6;
}

#admin .circle input[type="submit"]:focus {
  background-color: #41b6f1;
}

#admin .circle input::placeholder {
  color: #999999;
}