nav {
  height: 15vh;
}
nav #icon {
  width: auto;
  margin-right: 45%;
}

nav .navbar-nav,
nav #link-ex {
  margin: 0;
}

nav .nav-item {
  font-size: 5vw;
  padding: 1.7vw 0;
}

header {
  background: url("../img/back2.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--black);
  height: 85vh;
}

.header {
  margin: auto 0 3vw 0;
}

.hh {
  height: 100%;
}

.header-container {
  width: 100%;
}

.buttonInside {
  display: none;
}

header hr {
  margin: 5vw 0;
  border-width: 0.1vw;
  height: 1.5vw;
}

header h1 {
  font-size: 5.5vw;
  margin-top: 2vw;
}

header p {
  font-size: 4vw;
  line-height: 6vw;
}

.prev,
.next {
  top: 23%;
}

#left {
  color: white;
}

#slide {
  padding-top: 10vw;
  height: 100%;
}

.slide-img {
  width: 93vw;
  height: 93vw;
}

.slide-img img {
  width: 75vw;
}

.page {
  margin: 10vw 0 0 0;
  font-size: 4vw;
}

.page h1 {
  font-size: 5vw;
  margin-bottom: 4vw;
}

.page img {
  width: 3vw;
}

.detail {
  line-height: 5vw;
  margin-bottom: 4vw;
}

.page-down {
  width: 80vw;
  margin: 0 auto;
  font-size: 3vw;
}

.page span {
  font-size: 6vw;
}

.page button {
  font-size: 4vw;
  padding: 3vw 0;
  margin-bottom: 3vw;
}

.menu-img {
  text-align: center;
  padding: 5px 0;
}

.menu-text {
  text-align: center;
  padding: 5px 0;
}

.product {
  font-size: 2.8vw;
}

.product span {
  font-size: 6vw;
}

.product button {
  font-size: 4vw;
  padding: 3vw 0;
  margin-bottom: 3vw;
}

.product .row {
  padding-top: 0;
}

.product .col-md-4 {
  padding: 6vw 0;
  margin: 0 6vw;
}

footer {
  /* height: 100vh; */
}

footer img {
  width: 60%;
  height: auto;
}

#footer-block h1 {
  font-size: 7vw;
}

#footer-block a {
  font-size: 3.5vw;
  margin: 3.5vw 0;
}

footer .container-fluid {
  padding-top: 5vh;
  padding-bottom: 0vh;
}

#footer-button {
  font-size: 3vw;
}

#footer-button input {
  border: 0.4vw solid;
  border-radius: 1vw;
  height: 10vw;
  width: 55vw;
  margin-left: 4vw;
}

#footer-button button {
  border: white 0.4vw solid;
  border-radius: 1vw;
  height: 10vw;
  width: 25vw;
}

#copyright p {
  font-size: 2.8vw;
}
