#icon {
    width: auto;
    margin-right: 45%;
}

.nav--link {
    font-size: 5vw;
    padding: 1.7vw 0;
}

#nav--item {
    margin: 0;
}

#nav--link-ex {
    margin: 0;
}

#header {
    height: 150vw;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;
    color: var(--black);
}

#header-up{
    height: 80vw;
}


.header-container {
    width: 100%;
}

.buttonInside {
    display: none;
}

.line {
    margin: 5vw 0;
    border-width: .1vw;
    height: 1.5vw;
}

header h1 {
    font-size: 5.5vw;
    margin-top: 2vw;
}

header p {
    font-size: 4vw;
    line-height: 6vw;
}