#nav-search {
  display: block;
}

#hang {
  position: relative;
  margin: 5.45vw 0;
  transition: all 0.3s ease;
}

/* .now-active {
  animation: scale-display 0.3s;
  display: block;
}
.now-out {
  animation: scale-display--reversed 0.3s;
  animation-fill-mode: forwards;
  display: block;
}

@keyframes scale-display {
  0% {
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes scale-display--reversed {
  0% {
    display: inline-flex;
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  99% {
    display: inline-flex;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
  }
} */

#search-input {
  display: none;
  background-color: var(--second);
  border: none;
  outline: none;
  color: white;
  width: 55vw;
  margin-bottom: 2vw;
  font-size: 3.7vw;
}

.search-line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.5vw;
  background-color: white;
  transition: transform 0.3s;
  transform: scaleX(1);
}

nav #icon {
  width: auto;
}

nav .navbar-nav,
nav #link-ex {
  margin: 0;
}

nav .nav-item {
  font-size: 5vw;
  padding: 1.7vw 1.5vw;
  margin: 1vw 0;
  border-radius: 1.5vw;
}

nav .nav-item:hover,
.on {
  color: var(--second);
  background: #ffffff;
}

header {
  background: url("../img/back2.png");
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--black);
  height: 175vw;
}

.header {
  margin: auto 0 3vw 0;
}

.hh {
  height: 100%;
}

.header-container {
  width: 100%;
}

.buttonInside {
  display: none;
}

header hr {
  margin: 5vw 0;
  border-width: 0.1vw;
  height: 1.5vw;
}

header h1 {
  font-size: 5.5vw;
  margin-top: 2vw;
}

header p {
  font-size: 4vw;
  line-height: 6vw;
}

.dot3 {
  padding: 3vw 0;
}

.prev,
.next {
  top: 23%;
}
.dot1,
.dot2 {
  height: 3vw;
  width: 3vw;
}

#left {
  color: white;
}

#slide {
  padding-top: 3vw;
  height: 100%;
}

.slide-img {
  width: 93vw;
  height: 93vw;
  border: 3vw solid var(--background);
}

.slide-img img {
  width: 75vw;
}

.page {
  margin: 2vw 0 0 0;
  font-size: 4vw;
}

.page h1 {
  font-size: 5vw;
  margin-bottom: 4vw;
}

.page img {
  width: 3vw;
}

.detail {
  line-height: 5vw;
  margin-bottom: 4vw;
}

.page-down {
  width: 80vw;
  margin: 0 auto;
  font-size: 3vw;
}

.page-down .price {
  font-size: 6vw !important;
}

#slideshow-2-dots1 {
  display: block;
}

#slideshow-2-dots2 {
  display: none;
}

#topic1::before {
  display: block;
}

#topic2::before {
  display: block;
}

#topic3::before {
  display: block;
}

#topic1::before,
#topic2::before,
#topic3::before {
  position: relative;
  bottom: 0.5vw;
  left: 0;
}

main {
  margin-left: 0;
  margin-right: 0;
}

main h1 {
  font-size: 5vw;
  margin-top: 6vw;
  margin-bottom: 5vw;
}

#head-bar h2 {
  font-size: 3.4vw;
}

.product .col-md-4 {
  padding: 6vw 0;
  margin: 0 6vw;
}

.menu-right {
  border-radius: 0 3vw 3vw 0;
  border-left: 1.1vw var(--second) solid;
}

.menu-left {
  border-radius: 3vw 0 0 3vw;
  border-right: 1.1vw var(--second) solid;
}

.card {
  margin-top: 20vw;
  padding-top: 65vw;
  border: none;
  border-radius: 3.6vw;
  box-shadow: 0 3vw 6vw rgba(0, 0, 0, 0.175) !important;
}

.card-img-top {
  bottom: 58vw;
}

.card-body {
  padding: 4vw;
}

.card-title {
  font-size: 4.5vw;
}

.card-text {
  font-size: 2.8vw;
}

.greedy {
  margin-bottom: 6vw;
}

.price::before {
  position: relative;
  bottom: -1.2vw;
}

.price {
  font-size: 5vw;
  margin: 7vw 0;
}

.price::after {
  font-size: 2.9vw;
}

.large::before {
  bottom: -1vw;
  left: 0.6vw;
}

.absorb::before {
  bottom: -1vw;
  left: 0.6vw;
}

.winged::before {
  bottom: -1vw;
  left: 0.6vw;
}

.product-button {
  font-size: 4vw;
  padding: 3vw 0;
  margin-bottom: 3vw;
}

footer img {
  width: 60%;
  height: auto;
}

#footer-block h1 {
  font-size: 7vw;
}

#footer-block a {
  font-size: 3.5vw;
  margin: 3.5vw 0;
}

footer .container-fluid {
  padding-top: 5vh;
  padding-bottom: 0vh;
}

#footer-search {
  font-size: 3vw;
}

.input {
  border: 0.4vw solid white;
  border-radius: 1vw;
  height: 10vw;
  width: 55vw;
  margin-left: 4vw;
}

.button {
  border: 0.4vw solid white;
  border-radius: 1vw;
  height: 10vw;
  width: 25vw;
}

.input input {
  padding: 3vw;
  border-radius: 1vw;
}

#soical a {
  margin: 0 6vw;
}

#copyright p {
  font-size: 2.8vw;
}

#links {
  margin-right: 13vw;
}

#search-input::placeholder {
  font-size: 2.5vw;
}

#search-input:-ms-input-placeholder {
  font-size: 2.5vw;
}

#search-input::-ms-input-placeholder {
  font-size: 2.5vw;
}

.contain {
  margin: 10vw 5.5vw;
}

.contain .h1 {
  font-size: 8vw !important;
}

#contact {
  margin: 5vw 6vw;
}

#contact .d-flex {
  flex-direction: column !important;
}

.half {
  width: 100%;
}

#instagram::after,
#twitter::after,
#facebook::after,
#email::after,
#tel::before {
  font-size: 5vw;
  bottom: -0.6vw;
}

#form input,
#form textarea {
  padding: 4vw 4vw;
  margin: 3vw 0;
}

#form input[type="submit"] {
  padding: 2.5vw 0;
  width: 100% !important;
  margin: 3vw 0 12vw 0;
}

#form input[type="submit"],
#form input,
#form textarea {
  border: 0.3vw solid transparent;
  border-radius: 1vw;
}

#form input[type="submit"]:focus,
#form input:focus,
#form textarea:focus {
  box-shadow: 0 0 0 0.3vw #ff9999 !important;
}

.headline {
  padding: 3vw 6vw;
}

.product-main .fo {
  margin: 0 0 8vw 0;
}

.product-main .foff {
  margin-top: 6vw;
}

.product-main .foff p {
  font-size: 3.6vw;
}

.line {
  padding-bottom: 7vw;
}

.line::after {
  height: 1vw;
}

.product-comment #form {
  width: 100%;
}

.product-comment #form input {
  width: 100%;
}
