:root {
  --main: #fd3077;
  --second: #da2b68;
  --white: #ffffff;
  /* --white: #f2f2f2; */
  --black: #4d4d4d;
  --gray: #d9d9d9;
  --background: #fff6f9;
}

@font-face {
  font-family: Yekan;
  src: url("../font/Bold.ttf");
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#fd3077, #ff7777);
}

body {
  font-family: Yekan;
  direction: rtl;
  text-align: right;
  color: var(--white);
  background-color: var(--background);
}

a,
button,
.dot1,
.dot2,
.dot3 {
  cursor: pointer;
}

a,
a:hover {
  color: var(--white);
  text-decoration: none;
}

nav {
  background-color: var(--second);
}

#nav-search,
#search-input {
  display: none;
}

nav #icon {
  width: 8vw;
  margin-right: 0.5vw;
}

nav .navbar-nav {
  margin-right: 30%;
  width: 100%;
}

nav .nav-item {
  font-size: 1.1vw;
  display: block;
  padding: 0.7vw 1.2vw;
  margin: 0 0.5vw;
  transition: 0.4s all ease;
  border-radius: 0.4vw;
}

nav .nav-item:hover,
.on {
  color: var(--second);
  background: #ffffff;
  /* box-shadow: 0 0.3vw 2vw rgba(0, 0, 0, 0.175); */
}

nav #link-ex {
  margin-right: auto;
}

header {
  background: url("../img/back1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  margin: 7vw 0 25vw 0;
}

.header-container {
  width: 33vw;
}

.buttonInside {
  position: relative;
  margin-bottom: 10px;
}

.buttonInside input {
  font-size: 0.9vw;
  height: 3.2vw;
  width: 100%;
  padding-right: 2vw;
  border-radius: 3vw;
  border: none;
  outline: none;
}

.buttonInside button {
  color: var(--black);
  font-size: 1vw;
  background-color: var(--main);
  color: var(--white);
  position: absolute;
  left: 0.3vw;
  top: 0.3vw;
  border: none;
  height: 2.6vw;
  width: 9vw;
  border-radius: 3vw;
  outline: none;
  text-align: center;
  transition: 1s all ease;
}

/* .buttonInside button:hover {
  background: rgba(253, 48, 119, 0.6);
  width: 98%;
} */

.mySlides3 {
  display: none;
}

.text p {
  height: 9vw;
  margin-bottom: 0;
}

.text {
  width: 100%;
}

.carousel-indicators li {
  height: 1vw;
  width: 1vw;
  border-radius: 50%;
  transition: all 0.6s ease;
}

#slide-1 .carousel-indicators li {
  background-color: white;
  top: 3vw;
}

#slide-1 .carousel-indicators .active {
  background-color: #717171;
  transform: scale(1.2);
}

#slide-2 .carousel-indicators li {
  background-color: #454545;
}

#slide-2 .carousel-indicators .active {
  background-color: var(--main);
  transform: scale(1.2);
}

.carousel-control-next,
.carousel-control-prev {
  width: 4%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

ol {
  -webkit-padding-start: 0px;
}

.dot3 {
  background-color: #ff7777;
  color: var(--white);
  transition: background-color 0.6s ease;
  -webkit-transition: background-color 0.6s ease;
  width: 100%;
  padding: 1.4vw 0;
}

.active3 {
  background-color: #b52d2d !important;
}

.dot3:hover {
  background-color: var(--second);
}

.text h1::after {
  content: "";
  display: block;
  margin: 2vw 0;
  border-style: solid;
  border-width: 0.1vw;
  height: 0.5vw;
}

.text #line-1::after {
  border-color: #ffbe3d;
  background-color: #ffbe3d;
}

.text #line-2::after {
  border-color: #72ecff;
  background-color: #72ecff;
}

.text #line-3::after {
  border-color: #66ff66;
  background-color: #66ff66;
}

.text #line-4::after {
  border-color: #b85cd6;
  background-color: #b85cd6;
}

#slide {
  background-color: #ffffff;
  color: var(--black);
}

.slide-img {
  background: linear-gradient(to right, #fd3077, #ff7777);
  border-radius: 50%;
  border: 1vw solid var(--background);
  width: 45vw;
  height: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-img img {
  width: 35vw;
}

header h1,
.page h1 {
  font-weight: bold;
  font-size: 2vw;
}

header p,
.page p {
  font-size: 1.2vw;
  line-height: 1.8vw;
}

header h1 {
  margin-top: 2vw;
}

.page h1 {
  margin-bottom: 2vw;
}

.page {
  margin: 10vw 0 0 15vw;
}

.page img {
  width: 1vw;
}

.detail {
  line-height: 1.5vw;
  margin-bottom: 4vw;
}

.page-down {
  font-size: 1.1vw;
  width: 25vw;
  margin: 0 auto;
}

.page-down .price {
  font-size: 2vw !important;
}

#slideshow-2-dots1 {
  height: 6vh;
  display: none;
}

#slideshow-2-dots2 {
  height: 6vh;
}

main {
  color: var(--black);
  text-align: center;
  margin-bottom: 10vw;
  margin-left: 11vw;
  margin-right: 11vw;
}

main h1 {
  font-size: 1.7vw;
  font-weight: bold;
  margin-top: 3vw;
  margin-bottom: 2vw;
}

#head-bar h2 {
  font-size: 1.3vw;
}

#header-bar img {
  width: 100%;
  height: auto;
}

#topic1::before {
  content: url("../img/pills.png");
}

#topic2::before {
  content: url("../img/venus.png");
}

#topic3::before {
  content: url("../img/icon2.png");
}

#topic1::before,
#topic2::before,
#topic3::before {
  position: relative;
  bottom: -0.6vw;
  left: 0.3vw;
}

.menu-right {
  border-radius: 0 0.7vw 0.7vw 0;
  border-left: 0.35vw var(--second) solid;
}

.menu-left {
  border-radius: 0.7vw 0 0 0.7vw;
  border-right: 0.35vw var(--second) solid;
}

.card {
  margin-top: 8vw;
  padding-top: 18vw;
  position: relative;
  border: none;
  border-radius: 0.7vw;
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.175) !important;
}

.card-img-top {
  position: absolute;
  bottom: 19vw;
}

.card-body {
  padding: 1.5vw;
}

.card-title {
  font-size: 1.3vw;
}

.card-text {
  font-size: 0.8vw;
}

.greedy {
  margin-bottom: 3vw;
}

.price::before {
  content: url("../img/size-tag.png");
  position: relative;
  bottom: -0.3vw;
}

.price {
  font-size: 1.5vw;
  font-weight: bolder;
  margin: 2vw 0;
}

.price::after {
  content: "تومان";
  font-size: 0.9vw;
}

.large::before {
  content: url("../img/increase-size-option.png");
  position: relative;
  bottom: -0.2vw;
  left: 0.1vw;
}

.absorb::before {
  content: url("../img/drops-of-two-different-sizes-stroke-symbol-for-design.png");
  position: relative;
  bottom: -0.2vw;
  left: 0.1vw;
}

.winged::before {
  content: url("../img/Path 261.png");
  position: relative;
  bottom: -0.2vw;
  left: 0.1vw;
}

.card img {
  width: 100%;
  height: auto;
}

footer {
  background-color: var(--main);
}

footer img {
  width: 100%;
  height: auto;
}

#footer-block {
  direction: ltr;
}

#footer-block .col-md-4,
#footer-block .col-md-8 {
  direction: rtl;
}

#footer-block h1 {
  font-size: 2vw;
}

#footer-block a {
  font-size: 1vw;
  font-weight: normal;
  display: block;
  margin: 1vw 0;
}

footer .container-fluid {
  padding-top: 10vh;
  padding-bottom: 5vh;
}

#footer-search {
  font-size: 0.9vw;
}

.input {
  background-color: var(--main);
  height: 3vw;
  width: 18vw;
  border: 0.1vw solid white;
  border-radius: 0.3vw;
  margin-left: 1vw;
}

.input input {
  color: var(--white);
  background-color: var(--main);
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  padding: 1vw;
  border-radius: 0.3vw;
}

.button {
  background-color: white;
  height: 3vw;
  width: 8vw;
  border: white 0.1vw solid;
  border-radius: 0.3vw;
}

.button button {
  color: var(--black);
  background-color: #ffffff;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}

#soical a {
  margin: 0 2vw;
}

#ftp::placeholder,
#search-input::placeholder {
  color: var(--white);
}

#ftp:-ms-input-placeholder,
#search-input:-ms-input-placeholder {
  color: var(--white);
}

#ftp::-ms-input-placeholder,
#search-input::-ms-input-placeholder {
  color: var(--white);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#copyright {
  height: 5vh;
  background-color: #ca235d;
  display: flex;
  justify-content: center;
  align-items: center;
}

#copyright p {
  margin: 0;
  font-size: 0.8vw;
  font-weight: normal;
}

/* about */
.contain {
  margin: 4vw 4vw;
  color: var(--black);
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.175) !important;
}

.contain .center {
  flex-direction: column !important;
  align-items: baseline !important;
  padding: 5vw 0;
}

.contain p {
  white-space: pre-line;
}

.contain img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

/* contact */
#contact {
  color: var(--black);
  background-color: var(--white);
  margin: 5vw 6vw 10vw;
  border-radius: 0.5vw;
}

#contact a {
  color: var(--black);
}

.half {
  width: 50%;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 0.5vw 0 0 0.5vw;
}

#contact .h4 {
  color: #ff7777;
  margin: 3vw 0 1.5vw 0;
}

#email::before,
#tel::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.7vw;
  position: relative;
  bottom: -0.3vw;
  right: 0.2vw;
  color: #ff7777;
}

#email::before {
  content: "\f0e0";
}

#tel::after {
  content: "\f095";
}

#tel p {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#form input[type="submit"] {
  color: var(--white);
  width: 8vw !important;
  background-color: var(--main);
  padding: 0.6vw 0;
  border: 0.1vw solid transparent;
  margin: 0 0 3vw 0;
}

#form input,
#form textarea {
  width: 100%;
  padding: 0.7vw 1vw;
  margin: 0.7vw 0;
  border: 0.1vw solid #ff7777;
  box-sizing: border-box;
  border-radius: 0.3vw;
}

#form input::placeholder,
#form textarea::placeholder {
  color: #999999;
}

#form input:focus,
#form textarea:focus {
  outline: 0;
  border-color: var(--main);
}

/* product */
.product-contain {
  margin: 4vw 6vw;
  color: var(--black);
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.175) !important;
  background-color: var(--white);
}

.headline {
  background: var(--main);
  color: var(--white);
  padding: 0.4vw 0;
  margin: 0 6vw;
  background-image: linear-gradient(to right, #ff7777, #fd3077);
}

.product-main {
  margin: 0 0 5vw 0;
  padding-top: 5vw;
}

.product-main .fo {
  margin: auto 0;
}

.product-main .foff {
  margin-top: 2vw;
}

.product-main .foff p {
  font-size: 1.2vw;
}

.product-main .img {
  max-height: 100vh !important;
}

.line {
  position: relative;
  box-sizing: border-box;
  padding-bottom: 2.5vw;
}

.line::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.5vw;
  background-color: #cc33ff;
}

.product-form {
  margin: 5vw 7vw;
}

.product-form input[type="submit"] {
  color: var(--white);
  width: 10vw !important;
  background-color: var(--main);
  padding: 0.6vw 0;
  border: 0.1vw solid transparent;
  margin: 0 0 5vw 0;
}

.product-form input,
.product-form textarea {
  width: 100%;
  padding: 0.7vw 1vw;
  margin: 0.7vw 0;
  border: 0.1vw solid #ff7777;
  box-sizing: border-box;
  border-radius: 0.3vw;
}

.product-form input::placeholder,
.product-form textarea::placeholder {
  color: #999999;
}

.product-form input:focus,
.product-form textarea:focus {
  outline: 0;
  border-color: var(--main);
}

/* rating */
fieldset,
label {
  margin: 0.7vw 0;
}

.rating {
  border: none;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
  font-weight: 900;
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
  font-weight: 900;
}

.rating > label {
  color: #ddd;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #ffd700;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #ffed85;
}

/* academy */
#headbar {
  background-image: linear-gradient(to right, #ff7777, #fd3077);
  padding: 0.8vw 0;
  position: relative;
}

#headbar h1 {
  margin: 0 !important;
  font-size: 1.3vw;
}

#headbar::after {
  content: "";
  display: block;
  border-width: 1.3vw 1.3vw 0;
  border-style: solid;
  border-color: #fe5477 transparent transparent;
  margin-left: -0.8vw;
  position: absolute;
  bottom: -1.3vw;
  left: 49.45%;
}

#academy {
  margin: 3vw 0;
  padding: 0 3vw;
}

#academy .col-md-3 {
  padding: 0 1vw;
}

.content {
  color: var(--black);
  background-color: var(--white);
  border-radius: 0.7vw;
  margin-bottom: 2vw;
}

.content img {
  height: 14vw;
  width: 100%;
  border-radius: 0.7vw 0.7vw 0 0;
}

.content h1 {
  font-size: 1.8vw;
}

.content {
  font-size: 1vw;
}

.summary {
  padding: 2vw;
}

.summary h1 {
  color: var(--black) !important;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 1.15vw;
}

.summary h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.15vw;
  background-color: #bfbfbf;
}

.summary .link {
  margin-top: 2vw;
}

.summary .link a {
  padding: 0.6vw 2.7vw;
  /* background-color: var(--main); */
  background-image: linear-gradient(to right, #fd3077, #ff7777);
  border-radius: 0.4vw;
}

/* login */
#tabs {
  margin: 4vw 0 8vw 0;
  font-size: 1vw;
}

#incard {
  width: 25vw;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.6vw;
}

.tab-deactive {
  display: none;
}

.tab-active {
  display: block;
}

.tab-deactive-button {
  background-color: white;
}

.tab-active-button {
  background-color: #ff7777;
}

#log {
  background-color: #ff7777;
  border-top-right-radius: 0.6vw;
}

#sign {
  background-color: #fff;
  border-top-left-radius: 0.6vw;
}

#sign {
  color: var(--black);
}

#tabs .flex-fill {
  padding: 1vw 0;
  cursor: pointer;
}

#login,
#login form,
#login .d-flex,
#signup,
#signup form,
#signup .d-flex {
  height: 100%;
  border-bottom-left-radius: 0.6vw;
  border-bottom-right-radius: 0.6vw;
}

#login {
  background-color: #ff7777;
  padding: 5vw 2vw;
}

#signup {
  padding: 5vw 2vw 0.8vw 2vw;
}

#login input,
#signup input {
  width: 100%;
  margin-bottom: 2vw;
  padding: 1vw 2vw;
  border-width: 0.1vw;
  border-style: solid;
  border-radius: 2vw;
  outline: none;
}

#login input {
  color: #fff;
  background-color: #ff7777;
  border-color: #fff;
}

#login input[type="submit"] {
  background-color: #fff;
  color: #ff7777;
  cursor: pointer;
}

#login input::placeholder {
  color: #fff;
}

#signup input {
  color: var(--black);
  border-color: #ff7777;
}

#signup input[type="submit"] {
  background-color: #ff7777;
  color: #fff;
  cursor: pointer;
}

#signup input::placeholder {
  color: #999999;
}

/* academy article */
#aca-ticle {
  color: var(--black);
  font-size: 1.1vw;
}

#aca-ticle h1 {
  padding: 6vw 0 2vw 0;
  font-size: 2.2vw;
}

.article-date,
.article-source {
  color: #b3b3b3;
}

.article-date::after,
.article-source::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1vw;
  position: relative;
  color: #ff7777;
}

.article-date::after {
  content: "\f017";
  right: -0.3vw;
}
.article-source::before {
  content: "\f0ca";
  bottom: -0.1vw;
  left: 0.3vw;
}

#aca-ticle img {
  width: 65vw;
  margin-top: 2vw;
}

#aca-ticle .pra {
  padding: 4vw 16vw;
  line-height: 2.3vw;
}

/* fucking shop */
#shop {
  background-color: white;
  color: var(--black);
  margin: 5vw 0;
}

#shop .fucking-table {
  padding: 3vw 16vw;
}

#shop th,
#shop td {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#shop .f-left {
  border-left: none;
}

#shop .f-right {
  border-right: none;
}

#shop .flex-fill {
  margin: 0 1vw;
}

#shop th {
  background-color: #fff6f9;
}

#shop .xoxo {
  background-color: #ff72a3;
  color: white;
}

#shop .yoyo::before {
  content: "مجموع";
  font-size: 0.7vw;
}

#shop .yoyo::after {
  content: "تومان";
  font-size: 0.7vw;
}

#shop button {
  background-color: #ff72a3;
  color: #fff;
  padding: 1vw 6vw;
  margin: 5vw 0;
  border: none;
  outline: none;
}

#shop .table-price::after {
  content: "تومان";
  font-size: 0.7vw;
}

/* freaky button */
.product-button {
  width: 100%;
  font-size: 1vw;
  padding: 1.4vw 0;
  color: var(--white);
  background-image: linear-gradient(
    to right,
    #fd3077 0%,
    #ff7777 40%,
    #fd3077 100%
  );
  border: none;
  outline: none;
  margin-top: 1vw;
  transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
  background-size: 300% 100%;
}
.product-button:focus {
  background-position: 100% 0;
  outline: 0;
  box-shadow: 0 0 0 0.2vw #ff9999;
}
.product-button:hover {
  background-position: 100% 0;
}
